body
{
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 7rem;
    background: linear-gradient(90deg, hsla(210, 90%, 80%, 1) 0%, hsla(212, 93%, 49%, 1) 100%);
    
}

hr
{
    border: 1px solid #d1c6b5;
    height: 1rem;
    width: 100%;
}

h2{
    font-family: 'Teko', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

body::after
{
    content: "";
    background: url('/Images/3d-ill.png') no-repeat center center/contain;
    z-index: -1;
    position: absolute;
    top:-5rem;
    right: 10rem;
    height: 70%;
    width: 50%;
    
}

.header
{
    text-align: center;
    width: 100%;
  
}

.primary-cont
{
    padding: 2rem 1rem;
    width: 23%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    margin: 0 auto 2rem;
    border-radius: 1rem;
    background-color: rgb(251 252 253 / 55%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.input-form
{
    margin: 3rem auto 1rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 400;
    font-size: 2rem;
}
.city-input
{
    width: auto;
    display: inline-block;
    margin-left: 0.5rem;
    border-radius: 1rem;
}

.submit-button
{
    display: block;
    margin: 4rem auto 0 5rem ;
}
.submit-button:hover
{
    background-color: rgb(68, 66, 66);
}